<% flash.each do |type, msg| %>
  <div class='player-list__error'>
    <%= msg %>
  </div>
<% end %>

<h1 class="player-list__title">Catan Host Controls</h1>

<div class='player-list'>
  <div class="player-list__left">
    <h2 class="player-list__players-title">Players</h2>
    <div class='player-list__player-info'>
      <% @players.each do |player| %>
        <div class="player-list__player">      
          <div>
            <h3 class="player-list__player-name">
              <%= player.name %>
            </h3>
            <p>Hand size: <%= player.hand_size %></p>
            <p>Knights: <%= player.knight_count %></p>
            <p>Development cards: <%= player.cards.where(played_at: nil).count %></p>
            <%= button_to "Draw development card", { action: "draw", player_id: player.id }  %>
          </div>
        </div>
      <% end %>
    </div>

    <div class='player-list__game-info'>
      <div  class='player-list__game-info-section'>
        <h2>Give/Take resources</h2>
        <%= form_with(url: "/players/give", method: :post, class: 'player-list__resource-form') do %>
          <div>
            <div class="player-list__resource">
              <%= label_tag(:brick, 'Brick:', class: 'player-list__resource-label') %>
              <%= number_field_tag(:brick, 0, class: 'player-list__resource-field') %>
            </div>
            <div class="player-list__resource">
              <%= label_tag(:grain, 'Grain:', class: 'player-list__resource-label') %>
              <%= number_field_tag(:grain, 0, class: 'player-list__resource-field') %>
            </div>
            <div class="player-list__resource">
              <%= label_tag(:lumber, 'Lumber:', class: 'player-list__resource-label') %>
              <%= number_field_tag(:lumber, 0, class: 'player-list__resource-field') %>
            </div>
            <div class="player-list__resource">
              <%= label_tag(:ore, 'Ore:', class: 'player-list__resource-label') %>
              <%= number_field_tag(:ore, 0, class: 'player-list__resource-field') %>
            </div>
            <div class="player-list__resource">
              <%= label_tag(:wool, 'Wool:', class: 'player-list__resource-label') %>
              <%= number_field_tag(:wool, 0, class: 'player-list__resource-field') %>
            </div>
          </div>
          <div class="player-list__resource-controls">
            <%= select("give", 'player_id', Player.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, { class: 'player-list__resource-player' }) %>          
            <%= submit_tag('Give/Take resources', class: 'player-list__give-button' ) %>
          </div>
        <% end %>
      </div>

      <div class='player-list__game-info-section'>
        <h2>Bank</h2>
        <ul>
          <li>Brick: <%= @brick_left_in_bank %></li>
          <li>Grain: <%= @grain_left_in_bank %></li>
          <li>Lumber: <%= @lumber_left_in_bank %></li>
          <li>Ore: <%= @ore_left_in_bank %></li>
          <li>Wool: <%= @wool_left_in_bank %></li>
        </ul>
      </div>

      <div class='player-list__game-info-section'>
        <%= form_with(url: "/trade", method: :post) do %>
          <h2>Trade</h2>
          <div class="trading">
            <div class="trading__player">
              <%= select("trade", 'player_1_id', Player.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
              <div class="trading__resource-form">
                <div class="trading__resource">
                  <%= label_tag(:player_1_brick, 'Brick:', class: 'trading__resource-label') %>
                  <%= number_field_tag(:player_1_brick, 0, class: 'trading__resource-field') %>
                </div>
                <div class="trading__resource">
                  <%= label_tag(:player_1_grain, 'Grain:', class: 'trading__resource-label') %>
                  <%= number_field_tag(:player_1_grain, 0, class: 'trading__resource-field') %>
                </div>
                <div class="trading__resource">
                  <%= label_tag(:player_1_lumber, 'Lumber:', class: 'trading__resource-label') %>
                  <%= number_field_tag(:player_1_lumber, 0, class: 'trading__resource-field') %>
                </div>
                <div class="trading__resource">
                  <%= label_tag(:player_1_ore, 'Ore:', class: 'trading__resource-label') %>
                  <%= number_field_tag(:player_1_ore, 0, class: 'trading__resource-field') %>
                </div>
                <div class="trading__resource">
                  <%= label_tag(:player_1_wool, 'Wool:', class: 'trading__resource-label') %>
                  <%= number_field_tag(:player_1_wool, 0, class: 'trading__resource-field') %>
                </div>
              </div>
            </div>

            <div class="trading__player">
              <%= select("trade", 'player_2_id', Player.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>            
              <div class="trading__resource-form">
                <div class="trading__resource">
                  <%= label_tag(:player_2_brick, 'Brick:', class: 'trading__resource-label') %>
                  <%= number_field_tag(:player_2_brick, 0, class: 'trading__resource-field') %>
                </div>
                <div class="trading__resource">
                  <%= label_tag(:player_2_grain, 'Grain:', class: 'trading__resource-label') %>
                  <%= number_field_tag(:player_2_grain, 0, class: 'trading__resource-field') %>
                </div>
                <div class="trading__resource">
                  <%= label_tag(:player_2_lumber, 'Lumber:', class: 'trading__resource-label') %>
                  <%= number_field_tag(:player_2_lumber, 0, class: 'trading__resource-field') %>
                </div>
                <div class="trading__resource">
                  <%= label_tag(:player_2_ore, 'Ore:', class: 'trading__resource-label') %>
                  <%= number_field_tag(:player_2_ore, 0, class: 'trading__resource-field') %>
                </div>
                <div class="trading__resource">
                  <%= label_tag(:player_2_wool, 'Wool:', class: 'trading__resource-label') %>
                  <%= number_field_tag(:player_2_wool, 0, class: 'trading__resource-field') %>
                </div>
              </div>
            </div>
            <%= submit_tag('Trade', class: 'trading__submit') %>
          </div>
        <% end %>
      </div>

      <div  class='player-list__game-info-section'>
        <h2>Steal card</h2>
        <%= form_with(url: "/steal", method: :post) do %>
          <%= select("steal", 'thief_id', Player.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
          is stealing from
          <%= select("steal", 'victim_id', Player.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
          <%= submit_tag('steal') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='player-list__played-cards'>
    <h2>Played cards: </h2>
    <% Card.where.not(played_at: nil).order(played_at: :desc).each do |card| %>
      <div>
        <p><%= card.name %></p>
        <%= image_tag(card.image_url, width: 175) %>
        <p><%= Player.find(card.player_id).name %></p>
        <p><%= card.played_at %></p>
        <p>==========================</p>
      </div>
    <% end %>
  </div>
</div>


