<div class='player-list'>
  <% @players.each do |player| %>
    <div class="player-list__player">
      <span class="player-list__player-name">
        <%= player.name %>
      </span>
      <%= button_to "Draw", { action: "draw", player_id: player.id }  %>
    </div>
  <% end %>
</div>

<h2>Played cards: </h2>
<% Card.where.not(played_at: nil).order(played_at: :desc).each do |card| %>
  <div>
    <p><%= card.name %></p>
    <%= image_tag(card.image_url, width: 100) %>
    <p><%= Player.find(card.player_id).name %></p>
    <p><%= card.played_at %></p>
    <p>==========================</p>
  </div>

<% end %>
